* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    margin-top: 50px;
    padding: 25px;
    min-height: calc(100vh - 50px);
    display: flex;
}

button {
    width: 220px;
    padding: 10px 20px;
    background-color: #8f7a66;
    color: #f9f6f2;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    background-color: #7f6a56;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    /* disable safari y-scroll */
    html,
    body {
        height: 100%;
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
}